<div class="row row3">
  <div class="left left3">
    <% data.elements.elements[10..11].each do |element| %>
      <div class="box left <%= element.category %>">
        <p class="abbrev"><%= element.abbrev %></p>
        <p class="name"><%= element.name %></p>
      </div>
    <% end %>
  </div>
  <div class="right">
    <% data.elements.elements[12..17].each do |element| %>
      <div class="box left <%= element.category %>">
        <p class="abbrev"><%= element.abbrev %></p>
        <p class="name"><%= element.name %></p>
      </div>
    <% end %>
  </div>
</div>
