---
title: Elements
---

<div class="table">

  <%= partial 'partials/row1.html.erb'%>
  <%= partial 'partials/row2.html.erb'%>
  <%= partial 'partials/row3.html.erb'%>
  <%= partial 'partials/row4.html.erb'%>
  <%= partial 'partials/row5.html.erb'%>
  <%= partial 'partials/row6.html.erb'%>
  <%= partial 'partials/row7.html.erb'%>

  <div class="aside">
    <%= partial 'partials/lanthanides.html.erb'%>
    <%= partial 'partials/actinoids.html.erb'%>
  </div>

</div>

